<launch>
<!--param name="robot_description" command="cat /home/ss/catkin_ws/src/urdf_example/description/example_robot.urdf.xacro" / -->
<param name="robot_description" command="$(find xacro)/xacro /home/ss/catkin_ws/src/urdf_example/description/example_robot.urdf.xacro" />


  <!-- Use simulation time -->
<param name="use_sim_time" value="false" />
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
  <!-- Start the robot_state_publisher node -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <!-- Start the joint_state_publisher node -->


  <!-- Optionally, launch RViz -->
<node name="rviz" pkg="rviz" type="rviz" output="screen" />


</launch>

